{% extends 'navigationbar.html' %}
{% load staticfiles %}

{% block title %}
	<title>题目列表</title>
{% endblock %}

{% block customcss %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/challenges.css' %}">
{% endblock %}

{% block custombody %}
    {% if message %}
      <div class="alert alert-warning">{{ message }}</div>
    {% endif %}
{#    <div class="table-responsive">#}
{#    <table class="table table-striped table-hover">#}
{#    <tr>#}
{#     <th>类型</th>#}
{#     <th>名字</th>#}
{#     <th>描述</th>#}
{#     <th>解决人数</th>#}
{#     <th>分数</th>#}
{#     <th></th>#}
{#    </tr>#}
{#        {% for cha in challenge %}#}
{#    <tr>#}
{#        <td>{{ cha.get_category_display }}</td>#}
{#        <td><a href="/challenges/{{ cha.id }}/" style="font-size:20px">{{ cha.name }}</a></td>#}
{#          {% if cha.message %}#}
{#            <td>{{ cha.message }}</td>#}
{#          {% else %}#}
{#            <td>暂无</td>#}
{#          {% endif %}#}
{#        <td>{{ num }}</td>#}
{#        <td>{{ cha.point }}</td>#}
{#    </tr>#}
{#        {% endfor %}#}
{#    </table>#}
{#   </div>#}
    <div class="challenges">
        <div class="container">
            <div id="re">
                <div class="heading">
						<p>Reverse</p>
                </div>

                {% if data_re %}
                    {% for mission in data_re %}
                        <div class="mission"  data-toggle="modal" data-target="#{{ mission.id }}" id="display_{{ mission.id }}">
                            <p>{{ mission.name }}</p>
                            <p>{{ mission.point }}</p>
                        </div>

                        <div class="modal fade" id="{{ mission.id }}" role="dialog" data-backdrop="static">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close closeIT" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">{{ mission.name }}</h4>
                                    </div>
                                    <div class="modal-body">
                                        <p><b>Challenge Description: </b></p>
                                        {% if mission.message %}
                                            <p>{{ mission.message }}</p>
                                        {% else %}
                                            暂无
                                        {% endif %}
                                        {% if mission.file %}
                                            <p><b>File:</b> <a href="uploads/{{ mission.file }}">download</a></p>
                                        {% endif %}
                                        <p><b>Points: </b>{{ mission.point }}</p>
                                        <form method="post" id="{{ mission.id }}_flag_form" action="/challenges/{{ mission.id }}/">
                                            {% csrf_token %}
                                            <input type="text" name="{{ mission.id }}_flag" class="input_flag" placeholder="Submit Flag" id="{{ mission.id }}_flag" autofocus>
                                            <button type="submit" name="submit" class="input_flag_button">Submit</button>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default closeIT" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <script type="text/javascript">
                            $(document).ready(function (){
                                $("#{{ mission.id }}_flag_form").submit(function(event) {
                                    $.ajax({
                                        type : "POST",
                                        url : "/challenges/{{ mission.id }}/",
                                        data : $(this).serialize(),
                                        success : function(response) {
                                            $("#{{ mission.id }}_flag_form").append(response)
                                        }
                                    });
                                    event.preventDefault();
                                });
                            });
                        </script>

                    {% endfor %}

                {% else %}
                    <p style="color: red">敬请期待。。。</p>
                {% endif %}
            </div>

            <div id="web">
                <div class="heading">
						<p>Web</p>
                </div>

                {% if data_web %}
                    {% for mission in data_web %}
                        <div class="mission"  data-toggle="modal" data-target="#{{ mission.id }}" id="display_{{ mission.id }}">
                            <p>{{ mission.name }}</p>
                            <p>{{ mission.point }}</p>
                        </div>

                        <div class="modal fade" id="{{ mission.id }}" role="dialog" data-backdrop="static">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close closeIT" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">{{ mission.name }}</h4>
                                    </div>
                                    <div class="modal-body">
                                        <p><b>Challenge Description: </b></p>
                                        {% if mission.message %}
                                            <p>{{ mission.message }}</p>
                                        {% else %}
                                            暂无
                                        {% endif %}
                                        <p><b>Scene: </b><a href="{{mission.scene}}" target="_blank">{{ mission.scene }}</a></p>
                                        {% if mission.file %}
                                            <p><b>File:</b> <a href="uploads/{{ mission.file }}">download</a></p>
                                        {% endif %}
                                        <p><b>Points: </b>{{ mission.point }}</p>
                                        <form method="post" id="{{ mission.id }}_flag_form" action="/challenges/{{ mission.id }}/">
                                            {% csrf_token %}
                                            <input type="text" name="{{ mission.id }}_flag" class="input_flag" placeholder="Submit Flag" id="{{ mission.id }}_flag" autofocus="">
                                            <button type="submit" name="submit" class="input_flag_button">Submit</button>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default closeIT" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <script type="text/javascript">
                            $(document).ready(function (){
                                $("#{{ mission.id }}_flag_form").submit(function(event) {
                                    $.ajax({
                                        type : "POST",
                                        url : "/challenges/{{ mission.id }}/",
                                        data : $(this).serialize(),
                                        success : function(response) {
                                            $("#{{ mission.id }}_flag_form").append(response)
                                        }
                                    });
                                    event.preventDefault();
                                });
                            });
                        </script>

                    {% endfor %}

                {% else %}
                    <p style="color: red">敬请期待。。。</p>
                {% endif %}
            </div>

            <div id="pwn">
                <div class="heading">
						<p>Pwn</p>
                </div>

                {% if  data_pwn%}
                    {% for mission in data_pwn %}
                        <div class="mission"  data-toggle="modal" data-target="#{{ mission.id }}" id="display_{{ mission.id }}">
                            <p>{{ mission.name }}</p>
                            <p>{{ mission.point }}</p>
                        </div>

                        <div class="modal fade" id="{{ mission.id }}" role="dialog" data-backdrop="static">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close closeIT" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">{{ mission.name }}</h4>
                                    </div>
                                    <div class="modal-body">
                                        <p><b>Challenge Description: </b></p>
                                        {% if mission.message %}
                                            <p>{{ mission.message }}</p>
                                        {% else %}
                                            暂无
                                        {% endif %}
                                        {% if mission.file %}
                                            <p><b>File:</b> <a href="uploads/{{ mission.file }}">download</a></p>
                                        {% endif %}
                                        <p><b>Points: </b>{{ mission.point }}</p>
                                        <form method="post" id="{{ mission.id }}_flag_form" action="/challenges/{{ mission.id }}/">
                                            {% csrf_token %}
                                            <input type="text" name="{{ mission.id }}_flag" class="input_flag" placeholder="Submit Flag" id="{{ mission.id }}_flag" autofocus="">
                                            <button type="submit" name="submit" class="input_flag_button">Submit</button>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default closeIT" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <script type="text/javascript">
                            $(document).ready(function (){
                                $("#{{ mission.id }}_flag_form").submit(function(event) {
                                    $.ajax({
                                        type : "POST",
                                        url : "/challenges/{{ mission.id }}/",
                                        data : $(this).serialize(),
                                        success : function(response) {
                                            $("#{{ mission.id }}_flag_form").append(response)
                                        }
                                    });
                                    event.preventDefault();
                                });
                            });
                        </script>

                    {% endfor %}

                {% else %}
                    <p style="color: red">敬请期待。。。</p>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}
