body {
  height: 100%;
  /*background-image: url('../image/bg.jpg');*/
}
.form-teamcreate {
  width: 100%;
  max-width: 400px;
  padding: 0px;
  margin: 0 auto;
}
.form-group {
  margin-bottom: 9px;
}
form a{
  display: inline-block;
  margin-top:25px;
  line-height: 10px;
}