<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>忘记密码</title>

<style>
.out{
  width: 500px;
  height: 900px;
  margin: 0 auto;
  margin-top: 100px;
}
</style>
</head>
<body>


  <div class="out">
    <h1>小样，忘了密码吧？快通过邮箱找回密码吧！</h1>
    <form method="post" action="/accounts/forget/">
      {% if message %}
          <div class="alert alert-warning">{{ message }}</div>
      {% endif %}
      {% csrf_token %}
      <div class="form-group">
          {{ email_form.email.label_tag }}
          {{ email_form.email }}
      </div>
      <p><button type="submit" class="btn btn-primary float-right">确认发送邮件重置密码</button></p>
    </form>
  </div>


</body>
</html>