{% extends 'navigationbar.html' %}

{% load staticfiles %}

{% block title %}
	<title>login</title>
{% endblock %}

{% block customcss %}
	<link href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static 'accounts/css/login.css' %}" rel="stylesheet" />
{% endblock %}

{% block custombody %}
  <div class="container">
            <div class="col">
              <form class="form-login" action="/accounts/login/" method="post">

                  {% if login_form.captcha.errors %}
                    <div class="alert alert-warning">{{ login_form.captcha.errors }}</div>
                  {% elif message %}
                      <div class="alert alert-warning">{{ message }}</div>
                  {% endif %}

                  {% csrf_token %}

                  <h3 class="text-center">欢迎登录</h3>

                  <div class="form-group">
                      {{ login_form.student_id.label_tag }}
                      {{ login_form.student_id }}
                  </div>
                  <div class="form-group">
                      {{ login_form.password.label_tag }}
                      {{ login_form.password }}
                  </div>
                  <div class="form-group">
                      {{ login_form.captcha.label_tag }}
                      {{ login_form.captcha }}
                  </div>

                  <div>
                  <a href="/accounts/register/" class="text-success"><ins>还没有账号？</ins></a>

                  <button type="submit" class="btn btn-primary float-right">登录</button>
                </div>
              <a href="/accounts/fun/" class="text-success"><ins>忘记密码？</ins></a>
              </form>
            </div>
  </div> <!-- /container -->
{% endblock %}
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/popper.js/1.15.0/umd/popper.min.js"></script>
    <script src="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
