{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
     <title>team-detail</title>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=Edge">
     <meta name="description" content="">
     <meta name="keywords" content="">
     <meta name="author" content="">
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
     <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
     <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
     <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">

     <!-- MAIN CSS -->
     <link rel="stylesheet" href="{% static 'css/templatemo-style.css' %}">
</head>
<body>

     <!-- PRE LOADER -->
     <section class="preloader">
          <div class="spinner">
               <span class="spinner-rotate"></span>
          </div>
     </section>


     <!-- MENU -->
     <section class="navbar custom-navbar navbar-fixed-top" role="navigation">
          <div class="container">

               <div class="navbar-header">
                    <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                         <span class="icon icon-bar"></span>
                         <span class="icon icon-bar"></span>
                         <span class="icon icon-bar"></span>
                    </button>

                    <!-- lOGO TEXT HERE -->
                    <a href="/accounts/" class="navbar-brand">MyCTF</a>
               </div>

               <!-- MENU LINKS -->
               <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-nav-first">
                         <li><a href="#home" class="smoothScroll">Home</a></li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                         <li class="section-btn" id="logout"><a href="/accounts/logout/" >Logout</a></li>
                    </ul>
               </div>

          </div>
     </section>


     <!-- BLOG HEADER -->
     <section id="blog-header" data-stellar-background-ratio="0.5">
          <div class="overlay"></div>
          <div class="container" style="width: 600px">
               <div class="modal-content modal-popup">

                    <div class="modal-body" style="   background: #000000;
    background: -webkit-linear-gradient(to right, #434343, #000000);
    background: linear-gradient(to right, #434343, #000000);
    border: none;
    border-radius: 2px;
    text-align: center;
    position: relative;
    padding: 2em;">
                         <div class="container-fluid">
                              <div class="row">
                                   <div class="col-md-12 col-sm-12">
                                        <div class="modal-title">
                                             <h2>Team Details</h2>
                                        </div>

                                        <div class="tab-content" style="padding-top: 20px;text-align: left;" >
                                             <h3 style="color: whitesmoke"><span >Team name: </span>&nbsp{{ team_detail.name }}</h2>
                                             <h3 style="color: whitesmoke"><span >Members: ({{ team_detail.number }}/5)</span>
                                                  {% for member in team_detail.members %}
                                                    <h3 style="color: #fff;text-align: center">{{ member.name}}</h3>
                                                  {% endfor %}
                                             </h3>
                                             <h3 style="color: whitesmoke"><span >Points: </span>&nbsp{{ team_detail.score }}</h3>
                                             <h3 style="text-align: center"><a href="/teams/join/{{ team_detail.id }}/" style="float: bottom;font-size: small" class="btn section-btn smoothScroll">加入战队</a></h3>
                                        </div>
                                   </div>

                              </div>
                         </div>
                    </div>
               </div>
          </div>
     </section>


     <!-- FOOTER -->
     <footer data-stellar-background-ratio="0.5">
          <div class="container">
               <div class="row">

                    <div class="col-md-5 col-sm-12">
                         <div class="footer-thumb footer-info">
                              <h2>MyCTF</h2>
                              <p>CTF (Capture The Flag) is originated in the 1996 DEFCON Global Hacking Conference, a competitive game among cybersecurity enthusiasts.</p>
                         </div>
                    </div>

                    <div class="col-md-2 col-sm-4">
                         <div class="footer-thumb">
                              <h2>Rank</h2>
                              <ul class="footer-link">
                                   <li><a href="/scoreboard/">Personal</a></li>
                                   <li><a href="/scoreboard/">Team</a></li>
                                   <li><a href="/scoreboard/">Challenge</a></li>
                              </ul>
                         </div>
                    </div>
                    <div class="col-md-2 col-sm-4">
                         <div class="footer-thumb">
                              <h2>Challenge</h2>
                              <ul class="footer-link">
                                   <li><a href="/challenges/">Pwn</a></li>
                                   <li><a href="/challenges/">Web</a></li>
                                   <li><a href="/challenges/">Re</a></li>
                              </ul>
                         </div>
                    </div>
                    <div class="col-md-3 col-sm-4">
                         <div class="footer-link">
                              <h2>Team</h2>
                              <li><a href="/teams/">Create</a></li>
                              <li><a href="/teams/">Join</a></li>
                         </div>
                    </div>
                    <div class="col-md-12 col-sm-12">
                         <div class="footer-bottom">
                              <div class="col-md-6 col-sm-5">
                                   <div class="copyright-text">
                                        <p>Copyright &copy; 2019 MyCTF</p>
                                   </div>
                              </div>
                              <div class="col-md-6 col-sm-7">
                                   <div class="phone-contact">
                                        <p>Call us <span>15632721215</span></p>
                                   </div>
                              </div>
                         </div>
                    </div>

               </div>
          </div>
     </footer>


     <!-- SCRIPTS -->
     <script src="{%static 'js/jquery.js' %}"></script>
     <script src="{%static 'js/bootstrap.min.js' %}"></script>
     <script src="{%static 'js/jquery.stellar.min.js' %}"></script>
     <script src="{%static 'js/jquery.magnific-popup.min.js' %}"></script>
     <script src="{%static 'js/smoothscroll.js' %}"></script>
     <script src="{%static 'js/custom.js' %}"></script>
     <script>
        document.getElementById('logout').onclick = function(){
             if(confirm('确定要退出吗')==true){
               return true;
            }else{
               return false;

            }
        }
    </script>
</body>
</html>