{% extends 'navigationbar.html' %}

{% load staticfiles %}

{% block title %}
	<title>开始创建你的团队</title>
{% endblock %}

{% block customcss %}

    <link href="{% static 'accounts/css/login.css' %}" rel="stylesheet" />
{% endblock %}

{% block custombody %}

  <div class="container custombody">
            <div class="col">
              <form class="form-teamcreate" action="/teams/create/" method="post">

                  {% if message %}
                      <div class="alert alert-warning">{{ message }}</div>
                  {% endif %}

                  {% csrf_token %}

                  <h3 class="text-center">欢迎创建你的团队</h3>
                  <div class="form-group">
                      {{ team_n.teamname.label_tag }}
                      {{ team_n.teamname}}
                  </div>

                  <div>
                  <button type="submit" class="btn btn-primary float-right" style="float: left">创建</button>
                  <a href="/teams/" class="btn btn-default float-right" style="float: right">返回</a>
                  </div>
              </form>
            </div>
  </div>

   {% endblock %}