{% extends 'navigationbar.html' %}

{% load staticfiles %}

{% block title %}
	<title>profile</title>
{% endblock %}
{% block customcss %}
<link rel="stylesheet" href="{% static 'accounts/css/profile.css' %}">
{% endblock %}
{% block custombody %}

{#    <div class="header"><p>个人中心</p></div>#}

 <div class="content">
  <div  class="detail">
      <table class="table ">
          <tr>
             <td style="text-align: center"><h3>账号：</h3></td>
              <td style="text-align: left"><h3>{{ request.session.student_id }}</h3></td>
          </tr>
          <tr>
             <td style="text-align: center"><h3>姓名: </h3></td>
              <td style="text-align: left"><h3>{{ request.session.user_name}}</h3></td>
          </tr>
          <tr>
              <td style="text-align: center"><h3>所属战队: </h3></td>
              <td style="text-align: left">
                  <h3>{{ request.session.team_name}}</h3>
                   {% if request.session.is_leader == 1%}
                     <a href="/teams/manage/" class="btn btn-primary">管理战队</a>
                   {% endif %}
              </td>
          </tr>
          <tr>
              <td style="text-align: center"><h3>积分:</h3></td>
              <td style="text-align: left"><h3>{{ user.point }}</h3></td>
          </tr>
          <tr>
              <td style="text-align: center"><h3>解决题目:</h3></td>
              {% if length != 0 %}
                  {% for challenge in solved %}
                    <td style="text-align: left"><h3>{{ challenge.name }}</h3></td>
                  {% endfor %}
              {% else %}
                   <td style="text-align: left"><h3>暂无</h3></td>
              {% endif %}
          </tr>
      </table>

        <div class="changepwd clearfix">
            <a href="/accounts/profile/change_pwd" class="btn btn-default" style="float: right; font-size: 18px;">修改密码</a>
        </div>

  </div>

 </div> <!-- /container -->
{% endblock %}
